/* Import jetbrains mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 2rem 1.5rem;
}

/* table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td,tr {
  border: 1px solid #000;
  padding: 0.5rem;
}

th {
  background-color: #f0f0f0;
}

tr:nth-child(odd) {
  background-color: #f0f0f0;
}

tr:hover {
  background-color: #ccc;
  cursor: pointer;
}

.difficulty {
  text-transform: capitalize;
}

.difficulty-easy {
  color: #008000;
}

.difficulty-medium {
  color: #FFA500;
}

.difficulty-hard {
  color: #FF0000;
}
